useDynLib(pedigreegraph, .registration = TRUE)
importFrom(methods, new)
importClassesFrom(Matrix, dsCMatrix)
export(pedigree_graph)
export(relationship_pairs)
export(pair_kinship)
export(kinship_matrix)
export(inbreeding)
export(relationship_categories)
export(configure_threads)
export(thread_budget)
S3method(print, pedigree_graph)
