useDynLib(pedigreegraph, .registration = TRUE)
importFrom(methods, new)
importClassesFrom(Matrix, dsCMatrix)
export(pedigree_graph)
export(relationship_pairs)
export(relationship_counts)
export(relationship_burden)
export(relationship_moments)
export(moments_select)
export(moments_sum)
export(moments_merge)
export(pair_kinship)
export(kinship_matrix)
export(inbreeding)
export(relationship_categories)
export(configure_threads)
export(thread_budget)
S3method(print, pedigree_graph)
S3method(print, relationship_moments)
S3method(as.data.frame, relationship_moments)
